# Node modules
node_modules/
**/node_modules/

# Build output
dist/
**/dist/
.angular/
**/.angular/

# Environment files
.env
**/.env
.env.local

# IDE & OS files
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
